//Charte Colors
$white: #eef7fc;
$yellow: #f7d648;
$lightorange: #e9933e;
$darkorange: #e85a19;
$lightblue: #a2bbdf;
$mediumblue: #478fca;
$darkblue: #2a3a84;
$green: #089c2f;
$red: #cf0e0e;

//Shadow Colors:
$lightoranfeshadow: #e9933ebf;
$darkorangeshadow: #e85a19bf;
$mediumblueshadow: #478fcabf;
$darkblueshadow: #2a3a84bf;
$redshadow: #cf0e0ebf;
$greenshadow: #089c2f96;

//Bootstrap Colors:
$light-gray: #eef7fcbf;
$gray: #b1b7bbbe;
