#bouncing-text {
  p {
       color: #e85a19;
       font-family: "Montserrat Alternates", sans-serif;
       font-size: 72px;
       font-weight: 400;
       letter-spacing: 0.2em;
       text-align: center;
       text-shadow: 3px 5px 5px rgba(0, 0, 0, .3);

       em {
            font-style: normal;
            display: inline-block;

            &.bounce-me {
                 -webkit-animation: bounce 2s infinite ease-in-out;
                 animation: bounce 2s infinite ease-in-out;
            }
       }
  }

  @-webkit-keyframes bounce {
       60% {
            -webkit-transform: translate(0px, -200px) scale(1.2);
            opacity: 0.8;
            text-shadow: 0px 150px 20px rgba(0, 0, 0, 0.8);
       }
  }

  @keyframes bounce {
       60% {
            -webkit-transform: translate(0px, -50px) scale(1.2);
            opacity: 0.8;
            text-shadow: 0px 150px 20px rgba(0, 0, 0, 0.8);
       }
  }
}
