// Specific CSS for your home-page
.player-mode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 20%;
  }
}

.player-mode-btn {
  display: flex;
}

.big-yellow-btn {
  text-align: center;
  background-image: linear-gradient(to bottom, #f7d648, #e9933e, #e85a19);
  width: 200px;
  height: 200px;
  margin: 20px;
  color: #eef7fc;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  align-items: center;
  align-content: space-around;
  flex-direction: column;
  box-shadow: 0 4px 15px 0 #e37743;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  cursor: pointer;

  &:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }

  i {
    font-size: 50px;
  }
}

.big-yellow-btn:focus {
  outline: none;
}
