.block-questions {
  color: #eef7fc;
  background: rgb(42, 58, 132);
  font-size: 16px;
  border-radius: 20px;
  box-shadow: 0 4px 15px 0 rgba(65, 133, 234, 0.515);
  padding: 0px 28px;
  margin: auto;
  height: 200px;
  width: 70%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  text-align: center;
  flex-direction: column;
  align-content: space-around;
}

.question {
  font-size: 16px;
}

.answers {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  list-style-type: none;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px 50px;
  padding: 0;
}

.answer {
  color:#eef7fc;
  background-color: #eef7fc52;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  flex-direction: column;
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);

  background-size: 300% 100%;
  transition: all 0.4s ease-in-out;
  cursor: pointer;

  &:hover {
    background-position: 100% 0;
    transition: all 1s ease-in-out;
    background-image: linear-gradient(to right, #e9933e, #e85a19, #f7d648, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(227, 119, 67, 0.75);
  }
}

.answer-false {
  color:#eef7fc;
  background-color: rgba(229, 16, 16, 0.601);
  border-radius: 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  flex-direction: column;
  box-shadow: 0 4px 15px 0 rgba(229, 16, 16, 0.75);
}

.answer-true {
  color:#eef7fc;
  background-color: rgba(25, 135, 45, 0.601);
  border-radius: 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  flex-direction: column;
  box-shadow: 0 4px 15px 0 rgba(10, 67, 20, 0.75);
}
