
<div id="background-homepage">
  <%= render "shared/navbarhome" %>
  <div class="container" >
    <div class="player-mode">
      <%= image_tag "logo/logo-sans-inner.png", id:"logo-homepage" %>
      <div class="player-mode-btn">
        <div class="big-yellow-btn">
          <i class="fa-solid fa-user"></i>
          <p class="yellow">Solo</p>
        </div>

        <%= link_to games_path, data: { turbo_method: :post } do %>
            <div class="big-yellow-btn">
              <i class="fa-solid fa-users"></i>
              <p>Multijoueur</p>
            </div>
        <% end %>
      </div>
      <%= image_tag "babyvira/baby-lain.gif", id:"gif-homepage"%>
    </div>
  </div>
</div>
