<div class="container">
  <div class="player-mode">
    <%= image_tag "babyvira/baby-lain.png" %>

    <div class="player-mode-btn">
      <div class="big-yellow-btn">
        <i class="fa-solid fa-user"></i>
        <p class="yellow">Single player</p>
      </div>

      <div class="big-yellow-btn">
        <i class="fa-solid fa-users"></i>
        <p>Multiplayer</p>
      </div>
    </div>
  </div>
</div>
