
<div class="container" data-controller="gamestart">
  <div class="player-mode">
    <%= image_tag "babyvira/baby-lain.png" %>

    <div class="player-mode-btn">
      <div class="big-yellow-btn">
        <i class="fa-solid fa-user"></i>
        <p class="yellow">Single player</p>
      </div>

      <%= link_to games_path, data: { turbo_method: :post } do %>
          <div class="big-yellow-btn">
            <i class="fa-solid fa-users"></i>
            <p>Multiplayer</p>
          </div>
      <% end %>
    </div>
  </div>
</div>
