<div class="container">
  <h1>TEST</h1>
  <div id="players-desk-1round">
    <div id="player-desk-1round">
      <div>
        <p id="player-nickname-1round">Player Nickname</p>
      </div>
      <div id="card-point-1round">
        <div class="point-1round-gray">
        </div>

        <div class="point-1round-gray">
        </div>

        <div class="point-1round-gray">
        </div>

        <div class="point-1round-gray">
        </div>

        <div class="point-1round-orange">
        </div>

        <div class="point-1round-orange">
        </div>

        <div class="point-1round-orange">
        </div>

        <div class="point-1round-orange">
        </div>

        <div class="point-1round-orange">
        </div>

      </div>
    </div>

    <div id="player-desk-1round">
      <div>
        <p id="player-nickname-1round">Player Nickname</p>
      </div>
      <div id="card-point-1round">
        <div class="point-1round-gray">
        </div>

        <div class="point-1round-gray">
        </div>

        <div class="point-1round-gray">
        </div>

        <div class="point-1round-gray">
        </div>

        <div class="point-1round-orange">
        </div>

        <div class="point-1round-orange">
        </div>

        <div class="point-1round-orange">
        </div>

        <div class="point-1round-orange">
        </div>

        <div class="point-1round-orange">
        </div>

      </div>
    </div>

    <div id="player-desk-1round">
      <div>
        <p id="player-nickname-1round">Player Nickname</p>
      </div>
      <div id="card-point-1round">
        <div class="point-1round-gray">
        </div>

        <div class="point-1round-gray">
        </div>

        <div class="point-1round-gray">
        </div>

        <div class="point-1round-gray">
        </div>

        <div class="point-1round-orange">
        </div>

        <div class="point-1round-orange">
        </div>

        <div class="point-1round-orange">
        </div>

        <div class="point-1round-orange">
        </div>

        <div class="point-1round-orange">
        </div>

      </div>
    </div>

    <div id="player-desk-1round">
      <div>
        <p id="player-nickname-1round">Player Nickname</p>
      </div>
      <div id="card-point-1round">
        <div class="point-1round-gray">
        </div>

        <div class="point-1round-gray">
        </div>

        <div class="point-1round-gray">
        </div>

        <div class="point-1round-gray">
        </div>

        <div class="point-1round-orange">
        </div>

        <div class="point-1round-orange">
        </div>

        <div class="point-1round-orange">
        </div>

        <div class="point-1round-orange">
        </div>

        <div class="point-1round-orange">
        </div>

      </div>
    </div>
  </div>
</div>
