<div class="game">
  <div class="block-questions">
  <div class="question">
    <%= question.content %>
  </div>

  <div class="block-answers">
    <ul class="flex-container answers">
      <% question.answers.shuffle.each do |answer| %>
        <div class="flex-content" id="choice" >
          <li class="<%= answer.correct ? 'answer-true' : 'answer-false' %>">
            <%= answer.content %>
          </li>
        </div>
      <% end %>
    </ul>
  </div>
</div>
</div>
