<% winner_class = winner ? "winner-desk" : "" %>
<% looser_class = participation.game.current_attempts.reject { |at| at.success }.flat_map(&:participation).include?(participation) ? "looser-desk" : "" %>

<div id="player-desk-1round" class="<%= "#{winner_class} #{looser_class}" %>" data-controller="desk">
  <p id="player-nickname-1round"><%= participation.user.nickname %></p>

  <div id="card-point-1round">
    <% (9 - participation.point).times do %>
      <p class="point-1round-gray"></p>
    <% end %>

    <% if participation.point.positive? && participation.correct_answer? && participation.last_attempt_correct? %>
      <p class="point-1round-orange last"></p>
    <% end %>

    <% (participation.point - 1).times do %>
      <p class="point-1round-orange"></p>
    <% end %>
  </div>
</div>