 <%= question.content %>
 <ul>
  <% question.answers.each do |answer| %>
    <li data-answer-target="input", data-answerid=<%= answer.id %>>
      <%= link_to answer.content, answer_participation_path(answer), data: { turbo_method: :post, action: "click->answer#revealAnswer" } %>
    </li>
  <% end %>
 </ul>

 <div>
  <span data-answer-target="response"></span>
 </div>
