
<div class="block-questions">
  <div class="question">
    <%= question.content %>
  </div>

  <div class="block-answers">
    <ul class="answer" class="flex-container">
      <% question.answers.each do |answer| %>
        <div class="flex-content" id="choice">
          <li data-answer-target="input">
            <%= link_to answer.content, answer_participation_path(answer), data: { turbo_method: :post, action: "click->answer#revealAnswer", answer_answer_id_param: answer.id } %>
          </li>
        </div>
      <% end %>
    </ul>
  </div>

</div>
 <div>
  <span data-answer-target="result"></span>
 </div>
