<div class="game">
  <div id="players-desk-1round">

    <% participations.order(:id).each do |participation| %>
      <div id="player-desk-1round">
        <p id="player-nickname-1round"><%= participation.user.nickname %></p>

        <div id="card-point-1round">
          <% (9 - participation.point).times do %>
            <p class="point-1round-gray"></p>
          <% end %>

          <% participation.point.times do %>
            <p class="point-1round-orange"></p>
          <% end %>
        </div>
        <% if participation.user == looser %>
          <p id="<%= dom_id(participation.user) %> "><i class="fa-solid fa-poo looser"></i></p>
        <% end %>
      </div>

    <% end %>

  </div>
</div>
