<div class="game">
  <div id="players-desk-1round">
    <% participations.order(:id).each do |participation| %>
      <div class="participation" id="participation_<%= participation.id %>">
        <%= render "games/desk", participation: participation %>
      </div>
    <% end %>
  </div>
</div>
