<h1>Games#start_game</h1>
<p>Find me in app/views/games/start_game.html.erb</p>

<p><%= "Are you ready #{current_user.nickname} ?" %></p>
<p><%= link_to "Click here to start", games_start_game_path %></p>
