<div class="error-container">
  <h1>Oopsiesss</h1>
  <p>Errors#not_found</p>
  <div>
    <%= link_to 'Back to home', root_path, class:'orange-btn'%>
  </div>
  <div>
    <%= image_tag "babyvira/baby-lain.png" %>
  </div>
</div>
