.blue-btn {
  border-radius: 5px;
  background-color: $lightblue;
  margin: 0 auto;
  padding: 5px;
  color: $white;
  box-shadow: 0 4px 15px 0 $mediumblueshadow;

  &:hover {
    color: $white;
  }
}

.big-yellow-btn {
  text-align: center;
  background-image: linear-gradient(to right, $yellow, $lightorange, $darkorange);
  width: 140px;
  height: 140px;
  margin: 20px;
  color: $white;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  align-items: center;
  align-content: space-around;
  flex-direction: column;
  box-shadow: 0 4px 15px 0 $lightoranfeshadow;

  background-size: 300% 100%;
  transition: all 0.4s ease-in-out;
  cursor: pointer;

  &:hover {
    background-position: 100% 0;
    transition: all 0.4s ease-in-out;
    background-image: linear-gradient(to right, $mediumblue, $darkblue, $lightblue, $darkblue);
    box-shadow: 0 4px 15px 0 $mediumblueshadow;
  }

  i {
    font-size: 50px;
  }
}

.big-yellow-btn:focus {
  outline: none;
}

.orange-btn {
  border-radius: 5px;
  background-color: $lightorange;
  margin: 0 auto;
  padding: 5px;
  color: $white;
  box-shadow: 0 4px 15px 0 $darkorangeshadow;

  &:hover {
    color: $white;
  }
}

.little-orange-btn {
  border-radius: 5px;
  background-color: $lightorange;
  margin: 0 auto;
  padding: 2px 5px;
  color: $white;
  height: 34px;
  position: absolute;
  bottom: -14px;
  left: 56px;
  box-shadow: 0 4px 15px 0 $darkorangeshadow;
  display: flex;
  align-items: center;
  animation: beat .50s infinite alternate;

  &:hover {
    color: $white;
    background-color: $green;
    box-shadow: 0 4px 15px 0 $greenshadow;
  }
}

.little-yellow-btn {
  text-align: center;
  background-image: linear-gradient(to right, $yellow, $lightorange, $darkorange);
  width: 220px;
  height: 70px;
  margin: 20px;
  color: $white;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  align-items: center;
  align-content: space-around;
  flex-direction: column;
  box-shadow: 0 4px 15px 0 $lightoranfeshadow;

  background-size: 300% 100%;
  transition: all 0.4s ease-in-out;
  cursor: pointer;

  &:hover {
    background-position: 100% 0;
    transition: all 0.4s ease-in-out;
    background-image: linear-gradient(to right, $mediumblue, $darkblue, $lightblue, $darkblue);
    box-shadow: 0 4px 15px 0 $mediumblueshadow;
  }

  i {
    font-size: 50px;
  }
}

.little-yellow-btn:focus {
  outline: none;
}
