.card-players {
  display: flex;
  flex-direction: column;
}

.card-player {
  height: 50px;
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 400px;
  position: relative;
  display: flex;
  align-items: center;

  p {
    padding-left: 10px;
  }

  #owner {
    background-color: rgba(247, 215, 72, 0.878);
    box-shadow: 0 4px 15px 0 rgba(247, 215, 72, 0.75);
    border-radius: 5px;

  }

}

.check {
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  right: -10px;
  top: -10px;
  background-image: radial-gradient(#46EC8B, #109648);
  box-shadow: 0 4px 15px 0 rgba(16, 150, 72, 0.75);
  color:#fcfeff;
}

.flip {
	backface-visibility: visible !important;
	animation: flip 2s ease;
}
@keyframes flip {
	0% {
		transform: perspective(400px) rotateY(0);
		animation-timing-function: ease-out;
	}
	40% {
		transform: perspective(400px) translateZ(150px) rotateY(170deg);
		animation-timing-function: ease-out;
	}
	50% {
		transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
		animation-timing-function: ease-in;
	}
	80% {
		transform: perspective(400px) rotateY(360deg) scale(.95);
		animation-timing-function: ease-in;
	}
	100% {
		transform: perspective(400px) scale(1);
		animation-timing-function: ease-in;
	}
}
