.navbar-lewagon {
  justify-content: space-between;
  background-image: linear-gradient(to left, #a2bbdf, #478fca, #2a3a84);
  margin-bottom: 30px;
  padding: 0px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 10%;
}
