.question {
  color: white;
  background-color: #3183E2;
  // background-image: linear-gradient(to left, #a2bbdf, #478fca, #2a3a84);
  background: radial-gradient(circle, #a2bbdf 0%, #478fca 50%, #2a3a84 89%);
  padding: 8px;
  flex-wrap: wrap;
  height: 200px;
  margin: auto;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.8);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border: solid;
}

.answer {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  list-style-type: none;
  // display: flex;
  // flex-wrap: wrap;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px 50px;

  li {
    color: white;
    padding: 5px;
    background-color: #2a3a84;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.8);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border: solid;
    border-color: #3183E2;
    // flex: 1 0 34%;
    a {
      color: white;
    }
  }
  #choice {
    :hover {
      border-color: white;
      background-color: #478fca;
      color: #e9933e;
    }
  }
}
